<h1> Welcome to Beecon's Home page </h1>



<h2>Json serialized Example</h2>
<h4>@ViewData["JsonSerialized"]</h4>

<br/>
<br/>

<h2>Json unserialized Example</h2>
<br/>
<h2>The User ID</h2>
<h4>@ViewData["UserId"]</h4>
<h2>User First Name</h2>
<h4>@ViewData["FirstName"]</h4>
<h2>User Last Name</h2>
<h4>@ViewData["LastName"]</h4>
<h2>User Email</h2>
<h4>@ViewData["Email"]</h4>
<h2>User Address</h2>
<h4>@ViewData["Address"]</h4>
<h2>User City</h2>
<h4>@ViewData["City"]</h4>
<h2>User State</h2>
<h4>@ViewData["State"]</h4>
<h2>User Zip Code</h2>
<h4>@ViewData["Zip"]</h4>
<h2>User Dob</h2>
<h4>@ViewData["Dob"]</h4>
<h2>User Password</h2>
<h4>@ViewData["Password"]</h4>
<h2>Users Amt Of Beecons found</h2>
<h4>@ViewData["BeeconsFound"]</h4>
<h2>Users Amt Of Beecons Created</h2>
<h4>@ViewData["BeeconsCreated"]</h4>
<h2>Users Gender</h2>
<h4>@ViewData["Gender"]</h4>
