@{
    ViewBag.Title = "BeeconUser";
}

<h2>BeeconUser</h2>



<h2>The User ID</h2>
<ul>@ViewData["UserId"]</ul>
<h2>User First Name</h2>
<ul>@ViewData["FirstName"]</ul>
<h2>User Last Name</h2>
<ul>@ViewData["LastName"]</ul>
<h2>User Email</h2>
<ul>@ViewData["Email"]</ul>
<h2>User Address</h2>
<ul>@ViewData["Address"]</ul>
<h2>User City</h2>
<ul>@ViewData["City"]</ul>
<h2>User State</h2>
<ul>@ViewData["State"]</ul>
<h2>User Zip Code</h2>
<ul>@ViewData["Zip"]</ul>
<h2>User Dob</h2>
<ul>@ViewData["Dob"]</ul>
<h2>User Password</h2>
<ul>@ViewData["Password"]</ul>
<h2>Users Amt Of Beecons found</h2>
<ul>@ViewData["BeeconsFound"]</ul>
<h2>Users Amt Of Beecons Created</h2>
<ul>@ViewData["BeeconsCreated"]</ul>
<h2>Users Gender</h2>
<ul>@ViewData["Gender"]</ul>