@{
    ViewBag.Title = "Index Page";
   
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message.</h1>
                <h2>@ViewBag.Title</h2>
                
                
            </hgroup>
            
        </div>
    </section>
}




<ul>
    @*    Link text, Action, Controler    *@
    <li>@Html.ActionLink("Users", "GetAllUsers", "User")</li>
    <li>@Html.ActionLink("Beecons", "GetAllUsers")</li>
    <li>@Html.ActionLink("One User", "GetAllUsers")</li>
    <li>@Html.ActionLink("One Beecon", "GetAllUsers")</li>
    <li>@Html.ActionLink("Create User", "GetAllUsers")</li>
    <li>@Html.ActionLink("Create Beecon", "GetAllUsers")</li>
    <li>@Html.ActionLink("Delete User", "GetAllUsers")</li>
    <li>@Html.ActionLink("Delte Beecon", "GetAllUsers")</li>
</ul>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    $('#Get all Users').change(function () {
        $.post('@Url.Action("GetAllUsers","Home")', function (data) {
            $('#txtJson').text("Json is " + data);
        });
    });


</script>