@{
    ViewBag.Title = "Index Page";
   
}


 <div class="JsonList">
            <h3>Some of Beecon's Json Operations</h3>

            <br />
            <p>@Html.ActionLink("Show All Users", "GetAllUsers", "User")</p>
     <br />
            <p>@Html.ActionLink("Sign In Example", "SignInExample", "User")</p><br />
     <p>@Html.ActionLink("Create User Example", "CreateUserExample", "User")</p><br />
            <p>@Html.ActionLink("Show All Beecons", "GetAllBeecons", "Beecon")</p><br />
            <p>@Html.ActionLink("Get Beecon", "GetBeecon", "Beecon")</p><br />
            <p>@Html.ActionLink("Sample Get Beecon Request", "GetBeeconExample", "Beecon")</p><br />
     <p>@Html.ActionLink("Sample Create Beecon Request", "CreateBeeconExample", "Beecon")</p><br />


           </div>



    @*    Link text, Action, Controler    *@

    @*<li>@Html.ActionLink("Create User", "CreateUser", "User")</li>
    <li>@Html.ActionLink("Create Beecon", "CreateBeecon", "Beecon")</li>
    <li>@Html.ActionLink("Delete User", "DeleteUser", "User")</li>
    <li>@Html.ActionLink("Delete Beecon", "DeleteBeecon", "Beecon")</li>*@
  


@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    $('#Get all Users').change(function () {
        $.post('@Url.Action("GetAllUsers","Home")', function (data) {
            $('#txtJson').text("Json is " + data);
        });
    });


    $('#Get all Users').change(function () {
        $.post('@Url.Action("GetAllUsers","Home")', function (data) {
            $('#txtJson').text("Json is " + data);
        });
    });


    $('#Get all Users').change(function () {
        $.post('@Url.Action("GetAllUsers","Home")', function (data) {
            $('#txtJson').text("Json is " + data);
        });
    });

    $('#Get all Users').change(function () {
        $.post('@Url.Action("GetAllUsers","Home")', function (data) {
            $('#txtJson').text("Json is " + data);
        });
    });

    $('#Get all Users').change(function () {
        $.post('@Url.Action("GetAllUsers","Home")', function (data) {
            $('#txtJson').text("Json is " + data);
        });
    });

    $('#Get all Users').change(function () {
        $.post('@Url.Action("GetAllUsers","Home")', function (data) {
            $('#txtJson').text("Json is " + data);
        });
    });
</script>